<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<div class="row justify-content-center">
  <div class="col col-md-6 text-center">

    <form method="post" th:action="@{login}">
      <h1 class="display-4 py-4">Sign In</h1>

      <div th:if="${message}" th:text="${message}"></div>

      <div class="alert alert-danger text center" th:if="${param.error}">
        Invalid email and password.
      </div>

      <div class="alert alert-success text center" th:if="${param.logout}">
        You have been logged out.
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user text-info"></i>
          </span>
        </div>
        <input type="email" class="form-control" name="username" placeholder="email">
      </div>

      <div class="input-group my-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock text-info"></i>
          </span>
        </div>
        <input type="password" class="form-control" name="password" placeholder="password">
      </div>

      <button type="submit" class="btn btn-info btn-block">Sign In</button>
    </form>
    <a href="/register" class="btn btn-secondary btn-block my-3">Create Account</a>


  </div>
</div>

</body>
</html>